inpFilterNeutronAir.mcnp
inpFilterNeutronWater.mcnp
inpFilterPhotonAir.mcnp
inpFilterPhotonWater.mcnp
inpKnockoutNeutronAir.mcnp
inpKnockoutNeutronWater.mcnp
inpKnockoutPhotonAir.mcnp
inpKnockoutPhotonWater.mcnp
renameFiles.sh
